.navigation {
    display: flex;
    padding: 20px;
    background-color: #4b4b4b4d;
    height: 5rem;
}

.navLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks li,
.navLinks li a {
    color: #F85800;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

.navLinks li a {
    flex: 1;
    text-align: center;
}