.bookList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 3rem;
  height: calc(100vh - 22.3rem);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
}

.pagination button {
  background-color: #808080f1;
  font-weight: 600;
  border-radius: 45%;
  width: 6%;
  cursor: pointer;
}