.home {
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.book-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    margin-top: 20px;
}

.book-card {
    width: 17.5rem;
    height: 70%;
    min-height: 25rem;
    border: 4px solid black;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    overflow: hidden;
    box-shadow:
        0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.5),
        0 0 1.25rem 0.625rem rgba(128, 128, 128, 0.3),
        0 0 1.875rem 0.9375rem rgba(192, 192, 192, 0.2);
    border-radius: 2.5rem 0 1.875rem 0;
}

.book-card-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-card-info a {
    text-decoration: none;
    color: red;
}

.book-card-info button {
    background-color: red;
    color: black;
}

.book-card-info button a {
    color: black;
}

.book-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.book-title {
    max-height: 3em;
    min-height: 3em;
    line-height: 1.5em;
    text-align: center;
}