/* .login-form,
.logout-form,
.register-form,
.edit-user-form,
.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.add-book-form {
  margin-top: 0.75rem;
}

.login-form h2,
.logout-form h2,
.register-form h2,
.edit-user-form h2,
.add-book-form h2 {
    margin-bottom: 10px;
}

.form {
border-radius: 20px;
padding: 20px;
background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)),
                linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
background-blend-mode: screen;
background-attachment: fixed;
box-shadow:
    0 0 10px 5px rgba(0, 0, 0, 0.5),
    0 0 20px 10px rgba(128, 128, 128, 0.3),
    0 0 30px 15px rgba(192, 192, 192, 0.2);
}

.login-form div,
.logout-form div,
.register-form div,
.edit-user-form div,
.add-book-form div {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}
  
.login-form input,
.logout-form input,
.register-form input,
.edit-user-form input,
.add-book-form input,
.add-book-form textarea,
.add-book-form select {
width: 100%;
padding: 8px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 10px;
}
  
.login-form button,
.logout-form button,
.register-form button,
.edit-user-form button,
.add-book-form button {
background-color: black;
color: white;
font-weight: 700;
padding: 5px 15px;
border-radius: 4px;
cursor: pointer;
}

.add-book-form .form,
.edit-user .form {
  margin-top: 1rem;
  height: 50%;
  width: 400px;
}

.add-book-form .form div,
.edit-user .form div {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.add-book-form .form div input,
.add-book-form .form div textarea,
.add-book-form .form div select,
.edit-user .form div input,
.edit-user .form div select  {
  width: 60%;
  box-sizing: border-box;
}

.user-details-wrapper.add-book-form {
  height: auto;
}

.user-details-wrapper.add-book-form .edit-user {
  width: 80%;
  margin: 20px;
}

.user-details-wrapper.add-book-form .form {
  width: 100%;
}

.user-details-wrapper.add-book-form img {
  width: 200px;
  height: 200px;
}

.user-details-wrapper.add-book-form .edit-user-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */