body {
    background-color: #8080804d;
    height: 100dvh;
}

#root{
    height: 100dvh;
}

#root > div {
    height: 100dvh;
}

button a {
    display: block;
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}