body {
    background-color: #8080804d;
    height: 100dvh;
}

#root{
    height: 100dvh;
}

#root > div {
    height: 100dvh;
}

button a {
    display: block;
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}

.scrollable-container {
    display: flex;
    flex-direction: column;
}
  
.genre-section {
    margin-bottom: 16px;
}
  
.book-row {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f0f0f0;
    padding: 14px;
}
  
a {
    text-decoration: none;
}

.star {
    color: gold;
    font-size: 24px;
}
  
.star.empty {
color: #ccc;
}  